{% extends 'app/base.html' %}
{% load static %}


{% block title %}
    <title>经典系列</title>
{% endblock %}

{% block body %}

    <div class="sorad_list">
		<ul>
            {% for product in products %}
				<li style="width:320px;margin-right:10px;;">
					<div class="zstu">
						<a href="{% url 'app:detailed' product.pid %}" onfocus="this.blur()" target="_blank">
							<img src="http://www.holiland.com/images/201903/goods_img/1045_G_1552021353059.jpg" align="absmiddle" border="0">
						</a>
					</div>
					<div class="xx">
						<a href="{% url 'app:detailed' product.pid %}" onfocus="this.blur()" target="_blank">
							<p>{{ product.title }}</p>
								<label style="height:15px;"></label>
							<b>￥{{ product.price }}</b>
						</a>
					</div>
				</li>
            {% endfor %}

						<li id="loading" style="width: 100%; text-align: center;"></li>
		</ul>
	</div>

{% endblock %}